<div class="itemlist-header">
  <div class="left-header">
    <div class="header-title">
      <%= @store.store_name %>
    </div>
    <div class="header-item-botton">
      <%= link_to "商品追加", new_store_item_path %>
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <%= link_to "お店を削除する", store_path(@store), method: :delete %>
    </div>
  </div>
</div>


<div class="items">
  <%= render partial: 'item', collection: @items %>
</div>

