<div class="itemlist-header">
  <div class="left-header">
    <div class="header-title">
      hogefuga
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <a href="#">お店を削除する</a>
    </div>
  </div>
</div>

<div class="items">
  <div class="item">
    <div class="upper-item">
      <div class="item-user">
        Tom
      </div>
      <div class="item-date">
        2020/3/31(Wed) 12:43:30
      </div>
    </div>
    <div class="lower-item">
      <div class="item-content">
        おはよう
      </div>
    </div>
  </div>

  <div class="item">
    <div class="upper-item">
      <div class="item-user">
        Tom
      </div>
      <div class="item-date">
        2020/3/31(Wed) 12:47:30
      </div>
    </div>
    <div class="lower-item">
      <div class="item-content">
        こんばんは
      </div>
    </div>
  </div>
</div>


<div class="form">
  <div class="form-detail">
    <input class="form-item" placeholder= "item">
    <input class="form-price" placeholder="price">
  </div>
  <div class="form-memo">
    <input class="form-message" placeholder="message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
    <input class="form-submit" type="submit" value="送信">
  </div>
</div>