<div class="side-bar-header">
  <div class="header-name">
    <%= link_to current_user.name, edit_user_path(current_user)%>
  </div>
  <div class="header-account">
    <%= link_to "アカウント編集", edit_user_path(current_user)%>
  </div>
  <div class="create-store">
    <%= link_to "お店を追加", new_store_path %>
  </div>
</div>

<div class="stores">
  <% current_user.stores.each do |store| %>
    <div class="store">
      <div class="store-name">
        <%=link_to store.store_name, store_items_path(store) %>
      </div>
    </div>
  <% end %>
</div>