<div class="side-bar-header">
  <div class="header-name">
    <%= link_to current_user.name, edit_user_path(current_user)%>
  </div>
  <div class="create-store">
    <a href="#">お店を追加</a>
  </div>
</div>

<div class="stores">
  <% current_user.stores.each do |store| %>
    <div class="store">
      <div class="store-name">
        <a href="#"><%= store.store_name %></a>
      </div>
    </div>
  <% end %>
</div>