<div class="side-bar-header">
  <div class="header-name">
    <%= link_to current_user.name, edit_user_path(current_user)%>
  </div>
  <div class="create-store">
    <a href="#">お店を追加</a>
  </div>
</div>

<div class="stores">
  <div class="store">
    <div class="store-name">
      <a href="#">techroom1</a>
    </div>
  </div>
  <div class="store">
    <div class="store-name">
      <a href="#">techroom2</a>
    </div>
  </div>
</div>