.wrapper {
  display: flex;
  background-color: rgb(248, 236, 232);
}
.side-bar {
  width: 280px;
  height: 100vh;
}
.side-bar-header {
  background-color: rgb(245, 213, 202);
  height: 70px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-name a{
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}

.header-account {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid lightblue;
}

.header-account a{
  font-size: 10px;
  padding: 10px;
  color: deepskyblue;
  text-decoration: none;
}

.create-store {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid lightblue;
}

.create-store a {
  font-size: 10px;
  padding: 10px;
  color: deepskyblue;
  text-decoration: none;
}

.stores {
  height: calc(100vh - 60px);
  padding: 0 20px;
  overflow: scroll;
}

.store {
  padding: 20px 0 40px;
}

.store-name a {
  text-decoration: none;
  color: black;
}




.itemlist {
  width: calc(100vw - 280px);
}
.itemlist-header {
  background-color: rgb(245, 213, 202);
  height: 70px;
  padding: 0 10px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.header-title {
  font-size: 24px;
  color: #FAFAFA;
  text-decoration: none;
  margin-left: 15px;
}

.right-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-item-botton {
  display: block;
  align-items: center;
  justify-content: center;
  border: 1px solid lightblue;
  text-align: center;
  margin-right: 15px;
}

.header-item-botton a {
  font-size: 10px;
  padding: 10px;
  color: deepskyblue;
  text-decoration: none;
}


.header-button {
  display: block;
  align-items: center;
  justify-content: center;
  border: 1px solid lightblue;
  text-align: center;
}

.header-button a {
  font-size: 10px;
  padding: 10px;
  color: deepskyblue;
  text-decoration: none;
}






.items {
  height: calc(100vh - 60px);
  padding: 46px 40px 0;
  overflow: scroll;
}
.item {
  margin: 10px 0 0 0;
}

.upper-item{
  display: flex;
}

.item-user {
  color: #434a54;
  font-size: 16px;
}

.item-date {
  color: #999;
  font-size: 12px;
  padding-left: 10px;
}

.lower-item {
  margin-top: 10px;
}

.item-content {
  color: #434a54;
  font-size: 14px;
  margin-bottom: 40px;
}

